/*
 * Copyright (c) 2016 Fuzhou Rockchip Electronics Co., Ltd
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;

#include "rk3399-roc-pc-base.dtsi"

/ {
    model = "ROC-RK3399-PC-Plus(Android)";
    vcc_wifi: vcc-wifi-regulator {
        compatible = "regulator-fixed";
        enable-active-high;
        gpio = <&gpio2 4 GPIO_ACTIVE_HIGH>;
        pinctrl-names = "default";
        pinctrl-0 = <&wifi_vcc_3v3>;
        regulator-name = "vcc_wifi";
        regulator-always-on;
    };

    wireless-wlan {
        compatible = "wlan-platdata";
        rockchip,grf = <&grf>;
        wifi_chip_type = "rtl8723du";
        status = "okay";
    };

	/delete-node/ wireless-bluetooth;

    fan_ctl: fan-ctl-regulator {
        compatible = "regulator-fixed";
        enable-active-high;
        regulator-always-on;
        regulator-boot-on;
        gpio = <&gpio1 1 GPIO_ACTIVE_HIGH>;
        pinctrl-names = "default";
        regulator-name = "fan_ctl";
        pinctrl-0 = <&fan_drv>;
    };
    
	rk_key: rockchip-key {
		compatible = "rockchip,key";
		status = "okay";
		io-channels = <&saradc 1>;
		power-key {
			gpios = <&gpio0 5 1>;
			linux,code = <116>;
			label = "power";
			gpio-key,wakeup;
		};
		recovery-key {
			linux,code = <113>;
			label = "F12";
			rockchip,adc_value = <4>;
		};
	};
};

&firefly_leds {
   power_led: power {
	   label = "firefly:blue:power";
	   linux,default-trigger = "ir-power-click";
	   default-state = "on";
	   gpios = <&gpio2 27 GPIO_ACTIVE_HIGH>;
	   pinctrl-names = "default";
	   pinctrl-0 = <&led_power>;
   };
   user_led: user {
	   label = "firefly:yellow:user";
	   linux,default-trigger = "ir-user-click";
	   default-state = "off";
	   gpios = <&gpio0 13 GPIO_ACTIVE_HIGH>;
	   pinctrl-names = "default";
	   pinctrl-0 = <&led_user>;
   };
};

&i2c0 {
    hym8563: hym8563@51 {
        compatible = "haoyu,hym8563";
        reg = <0x51>;
        #clock-cells = <0>;
        rtc-irq-gpio = <&gpio0 5 IRQ_TYPE_EDGE_FALLING>;
        clock-frequency = <32768>;
        clock-output-names = "xin32k";
        /* rtc_int is not connected */
    };
};
&i2c1{
	
    XC6130b@23{
    status = "okay";
    };
    XC7022b@1b{
    status = "okay";
    };

    /delete-node/ ov13850b@10;
    /delete-node/ ov13850f@10;

};
&i2c4 {
	/delete-node/ fusb30x@22;
};

&i2c7 {
	status = "okay";
	i2c-scl-rising-time-ns = <200>;
	i2c-scl-falling-time-ns = <200>;
	clock-frequency = <400000>;

	fusb0: fusb30x@22 {
		compatible = "fairchild,fusb302";
		reg = <0x22>;
		pinctrl-names = "default";
		pinctrl-0 = <&fusb0_int>;
		int-n-gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
        vbus-5v-gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&es8323_sound {
    status = "okay";
};
&es8323 {
    status = "okay";
    reg = <0x11>;
    //hp-det-gpio = <&gpio2 6 GPIO_ACTIVE_HIGH>;
    hp-ctl-gpio = <&gpio0 2 GPIO_ACTIVE_HIGH>;
    /delete-property/ spk-ctl-gpio;
};

&rk808 {
	pinctrl-0 = <&pmic_int_l>;
    rtc {
        status = "disabled";
    };
};

&rk_key {
	/delete-node/ power-key;
};
&gmac {
    tx_delay = <0x2E>;                                                                                                                                                                                         
    rx_delay = <0x23>;
};

/* typec usb otg */
&cdn_dp {
	status = "okay";
	extcon = <&fusb0>;
	phys = <&tcphy0_dp>;
};

&tcphy0 {
	extcon = <&fusb0>;
	status = "okay";
};

&tcphy1 {
	status = "okay";
};

&u2phy0 {
	status = "okay";
	extcon = <&fusb0>;
};

&u2phy1 {
	status = "okay";
};

&usbdrd3_0 {
	status = "okay";
};

&usbdrd3_1 {
	status = "okay";
};

&usbdrd_dwc3_0 {
	status = "okay";
	extcon = <&fusb0>;
};

&usbdrd_dwc3_1 {
	status = "okay";
};

&pinctrl {
	vcc_wifi{
		wifi_vcc_3v3: wifi-vcc-3v3 {
			rockchip,pins = <2 4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	 fan-ctl {                                                                                                                                                                                                  
        fan_drv: fan-drv {
             rockchip,pins = <1 1 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };
};


&rk_headset {
	status = "okay";
	es8323_linein_switch;
};
// Double row GPIO port expansion
&sdio0{
	status = "okay";
};
&uart0{
	status = "okay";
};
&spi2{
	status = "okay";
};
&uart4{
	status = "disable";
};
&i2c1{
	status = "okay";
};
&spidev0{
    status = "okey";
};

